<header>
    <nav class="container">
        <div class="d-flex justify-content-between">
         
            <div class="col-2"><a href ="/"><h1>ForkEat.</h1></a></div>
            <div class ='navlinks'>
            <a href ="/login">Login</a>
            <!-- <li><a href ="/new">Submit New Recipe</a></li> -->
            <a href= "/">About</a>
        </div>
            <!-- <div class = "row">
            <div class = "col-sm"  style="font-size:25px;"><i class="fa-solid fa-bowl-rice"></i></div>
            <div class ="col-sm" id ="burger"style="font-size:25px;"><i class="fa-solid fa-align-justify"></i></div>
            
        </div> -->
    </div>
</div>

    </nav>
</header>