<header>
    <nav>
        <ul>
            
            <li><a href ="/"><h1>ForkEat.</h1></a></li>
            <li><a href ="/login">Login</a></li>
            <li><a href ="/new">Submit New Recipe</a></li>
            <li><a href= "#">About</a></li>

        </ul>

    </nav>
</header>