<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/normalize.css">
        <link rel="stylesheet" href="/skeleton.css">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href ="/"><h1>GOOD FOOD</h1></a></li>
                    
                </ul>
    
            </nav>
        </header>
<% for(let j = 0; j<recipe.length; j++) {%>
        
        <h2><%=recipe[j].name%></h2>
        <a href = "/<%=recipe[j].id%>"><img src=<%=recipe[j].image%>></img></a>
    
    
<%}%>




    </body>
</html>