<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ForkEat.</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/svg+xml" href="https://example.com/image.svg">
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/normalize.css">
        <link rel="stylesheet" href="/skeleton.css">
        
    </head>
 <body>
      
            <header>
                <nav>
                    <ul>
                        
                        <li><a href ="/"><h1>ForkEat.</h1></a></li>
                        <li><a href ="/login">Login/Register</a></li>
                        <li><a href ="/new">Submit New Recipe</a></li>
                        <li><a href= "#">About</a></li>
            
                    </ul>
        
                </nav>
            </header>
            <main>
               <section>
                   
               </section>
                <% for(let i = 0; i<category.length; i++) {%>
                    
                    <section>
                    <a href="/<%=category[i].name%>">
                        <div class = "category" >
                            <%=category[i].name%>
                        </div>
                    </a>
                
                    </section>   
                    
                <%}%> 

                
        </main>
        <section class ="random">
            <h4>Not sure what to cook?</h4>
       <a href = '/random'> <button class = "random_recipe">Here's a recipe to try</button>
    </a>
    </section>
        <footer><p>Created by Yulia</p></footer>
    </body>
        </html>