<!DOCTYPE html>

<html>
    <head>
        <%- include ('./partials/head.ejs') %>
        
    </head>
    <body>
        <style>
            .login{
                margin-bottom: 300px;
            }
        </style>
        <%- include ('./partials/header.ejs') %>
        <div class ="login">
            
 <h3>Login to make changes.</h3>

    <form action="/logged" method="POST">
    
        <label for="email"  class="form-label">Email</label>
        <input type ="email" name="email" id="email" required></br>
        <label for="password"  class="form-label">Your password</label>
        <input type="password" id="password" name="password" placeholder="password">

        <button class="btn btn-outline-secondary">LOGIN</button>
    </form>
     <div class ='container'>
         <h3>Don't have an account?</h3>
         <a href='/register'> <p class ="btn btn-outline-secondary">Create one!</p></a>
     </div>
</div>

<%- include('./partials/footer.ejs') %>
</body>
    </html>