<!DOCTYPE html>

<html>
    <head>
        <%- include ('./partials/head.ejs') %>
        
    </head>
    <body>
        <%- include ('./partials/header.ejs') %>
        <div class ="login">
 <h3>Login to make changes.</h3>
    <form action="/login" method="POST">
        <label>Your name/username</label>
        <input type="text" name="username" placeholder="username">
        <label>Your password</label>
        <input type="password" name="password" placeholder="password">

        <button>LOGIN</button>
    </form>
     <h4>Or</h4>
     <p><h3>Create an account</h3></p>
<form action="/register" method="POST">
    <label>Your name/username</label>
    <input type="text" name="username" placeholder="username">
    <label>Email</label>
    <input type ="email" name="email" placeholder="email">
    <label>Your password</label>
    <input type="password" name="password"placeholder="password">
    <label>Confirm your password</label>
    <input type="password" name="password"placeholder="password">
    <button>Submit</button>
</form>
</div>

    <footer><p>Created by Yulia</p></footer>
</body>
    </html>