<!DOCTYPE html>

<html>
    <head>
        <%- include ('./partials/head.ejs') %>
        
    </head>
    <body>
        <style>
            .login{
                margin-bottom: 300px;
            }
        </style>
        <%- include ('./partials/header.ejs') %>
        <div class ="login">
 <h3>Login to make changes.</h3>
    <form action="/login" method="POST">
        <label  class="form-label">Your name/username</label>
        <input type="text" name="username" placeholder="username"></br>
        <label  class="form-label">Your password</label>
        <input type="password" name="password" placeholder="password">

        <button class="btn btn-outline-secondary">LOGIN</button>
    </form>
     <h4>Or</h4>
     <p><h3>Create an account</h3></p>
<form action="/register" method="POST">
    <label  class="form-label">Your name/username</label>
    <input type="text" name="username" placeholder="username"></br>
    <label  class="form-label">Email</label>
    <input type ="email" name="email" placeholder="email"></br>
    <label  class="form-label">Your password</label>
    <input type="password" name="password"placeholder="password"></br>
    <label  class="form-label">Confirm your password</label>
    <input type="password" name="password"placeholder="password">
    <button class="btn btn-outline-secondary">Submit</button>
</form>
</div>

<%- include('./partials/footer.ejs') %>
</body>
    </html>