<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous">

        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/normalize.css">
        <link rel="stylesheet" href="/skeleton.css">
    </head>
    <body>
        <header>
    <h1>Create</h1>
</header>
       <div>
        <form class ="create" action="/new" method="POST">
            <label>Name</label><input type ="text" name="name" value =""></br>
            <label>Image</label><input type ="url" name="image" value =""></br>
            <label>Category</label>
            <select type ="text" name="category" value ="">
                <option selected>Select Category</option>
                <option value = "Korean">Korean</option>
                <option value = "Thai">Thai</option>
                <option value = "Mexican">Mexican</option>
                <option value = "Chinese">Chinese</option>
                <option value = "American">American</option>
                <option value = "Japanese">Japanese</option>
                <option value = "Spanish">Spanish</option>
                <option value = "Greek">Greek</option>
            </select></br>
            <label>Ingredients</label><textarea type ="text" name="ingredients" value =""></textarea></br>
            <label>Instructions</label><textarea type ="text" name="instructions" value =""></textarea></br>
           
            <a href ="/login"> <input type = submit name ="" value = Submit> </a>
        </form>
       </div>
    </body>
</html>