<!DOCTYPE html>

<html>
    <head>
        <%- include ('./partials/head.ejs') %>
    </head>
    <body>
        <header>
            <%- include ('./partials/header.ejs') %>
    
</header>
<h1>Create</h1>
       <div>
        <form class ="create" action="/new" method="POST">
            <label class="form-label">Name</label>
                   <div class="col-sm-6">
                   <input type ="text" name="name"class="form-control" value =""></br>
                </div>
                   <label  class="form-label">Image</label><input type="file" class="form-control-file" id="formFileMultiple" multiple name="image" value =""></br>
                   <label class="form-label">Category</label>
            <select type ="text" name="category" class="form-select" value ="">
                <option selected>Select Category</option>
                <option value = "Korean">Korean</option>
                <option value = "Thai">Thai</option>
                <option value = "Mexican">Mexican</option>
                <option value = "Chinese">Chinese</option>
                <option value = "American">American</option>
                <option value = "Japanese">Japanese</option>
                <option value = "Spanish">Spanish</option>
                <option value = "Greek">Greek</option>
            </select></br>
            <label class="form-label">Ingredients</label><textarea type ="text" name="ingredients" class="form-control" value =""></textarea></br>
            <label class="form-label">Instructions</label><textarea type ="text" name="instructions"class="form-control" value =""></textarea></br>
                  
                 <input class="btn btn-outline-secondary" type = submit name ="" value = Submit>
               </form>
       </div>
       <%- include('./partials/footer.ejs') %>
       
    </body>
</html>