html{
    scroll-behavior: smooth;
}

section{
    width: 100vw;
    font-size: 40px;
    text-align: left;
    padding-left: 30px;
    background-color: rgb(246, 246, 140);
    
}

.create{

    background-color: rgb(167, 238, 214);
}
.about{
    font-size: 25px;
}
.category{
    margin-right: 30px;
}
header{
    width: 100vw;
    height: 100px;
    border-bottom: 1px solid black;
    text-align: center;
}
nav a{
    color: black !important;
    text-decoration: none !important;
    padding: 20px !important;
 }
 .navlinks{
     margin-top: 30px;
 }
 a{
    color: black !important;
    text-decoration: none !important;
 }


li{
    color: black;
    list-style-type: none;
    
}

footer{
   
    width: 100vw;
    display: inline-block;
    bottom: 0;
    position: relative;
    text-align: center;
    border-top: 1px solid black;
  
}

.create{ 
    margin-top: 100px;
    margin-left: 30px;
    
}

.random{
    width: 100vw;
    height:auto;
   
   
}
.login {
    text-align: center;
    margin-top: 50px;
}
.random-recipe{
    margin-left: 30px; 
    margin-top: 10px;
}

