/* body{
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
    color: black;
} */

section{
    
    width: 100vw;
    border-bottom: 1px solid black;
    font-size: 45px;
    text-align: right;
    padding-right: 20px;
    
    
}
.category{
    margin-right: 30px;
}
header{
    width: 100vw;
    height: 70px;
    border-bottom: 1px solid black;
   text-align: center;
}
a{
    color: black !important;
    text-decoration: none;
 
 }
 nav ul li:first-child{
     float: left;
     margin-top: -10px;
     
 }
 nav ul li {
     float:right;
     margin: 10px;
 }

img {
    width: 33%;
    height: 33%;
    box-shadow: 3px 3px 3px black;
}
.main{
    height: 200px;
    width: 400px;
}
li{
    color: black;
    list-style-type: none;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

footer{
    width: 100vw;
    display: inline-block;
    bottom: 0;
    position: fixed;
    text-align: center;
    border-top: 1px solid black;
  
}

.create{
    text-align: center;
    margin-top: 100px;
}

.random{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.random:hover{
    font-size: 60px;
    font-weight: 600;
    color: coral;
    text-shadow: 4px 4px 4px black;
}

